---
layout: base.njk
title: Welcome
---

<h2>Welcome!</h2>

<p>Welcome to the rebuilt old-school Gah-Lee! House web site! 
Enjoy the <a href="/photos/" />photos</a> and 
<a href="/recipes/" />recipes</a> :)</p>
